#{extends 'main.html' /} 
#{set title:'Administration Authenticate' /} 
#{include 'nav/open.html' /}

<li><a class="brand" href="/admin">Admin</a></li>
<li><a href="/">Home</a></li>
<li class="active"><a href="/admin">Admin login</a></li>
<li><a href="/logout">Log out</a></li>

#{include 'nav/close.html' /}

<div class="span5">
		<div class="alert alert-error">
				<h3>Administration Login Only!!!</h3>

				<p>
						<strong>WARNING!!!! UNAUTHORIZED ACCESS PROHIBITED</strong><br> You must have authorized
						permission to access this area. All actions are monitored, recorded, and reported By clicking
						on the button below, you acknowledge that you have read and agree to abide by the Simpson Parties
						policies and terms of use. All communications and records of your use may be read and recorded
						by this applications designers.
				</p>
		</div>
		<form action="/admin/authenticate" method="POST">
				<div class="control-group">
						<div class="controls">
								<!-- userName and password values included to enable testing -->
								<label class="control-label"> User Name: </label> 
								<input type="text" name="userName"value="admin"> 
								<label class="control-label"> Password:</label> 
								<input type="password" name="adminPassword" value="secret">
						</div>
						<button type="submit" class="btn btn-large  btn-danger">Admin Login</button>
						<br>
				</div>
		</form>
		<a href="/">
				<button class="btn btn-large  btn-success">Back</button>
		</a>