#{extends 'main.html' /} 
#{set title:'Donation List' /} 
#{include 'nav.html' /}


#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/editProfile">Edit Details</a></li>
<li class="active"><a href="/candidate">Candidates</a></li>
<li><a href="donation">Make Donation</a></li>
<li><a href="/donation/report">Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<h5>Candidate List</h5>
  <ol>
    #{list items:candidates, as:'candidate'}
    <li><strong>${candidate.candFirstName} ${candidate.candLastName}</strong>
      <a href="/donation/candId/${candidate.id}">Donate</a>
     #{/list}
  </ol>
</div>