#{extends 'main.html' /} 
#{set title:'Donation Request' /} 

#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/editProfile">Edit Details</a></li>
<li><a href="/candidates">Candidates</a></li>
<li class="active"><a href="donation">Make Donation</a></li>
<li><a href="/donation/report">Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<h3>Welcome ${user.firstName} ${user.lastName}</h3>
<h4>Please give generously</h4>

<form action="/donation/donate" method="POST">
<div class="control-group">
    <div class="controls">
  <label class="control-label">Select an amount:</label>
   <select name= "amountDonated">
    <option value="50">$50</option>
    <option value="100">$100</option>
    <option value="1000" selected>$1000</option>
  </select> 
  <label class="radio"> <input type="radio" name="methodDonated" value="paypal"
  checked="checked"> PayPal</label>
   <label class="radio"> <input type="radio" name="methodDonated" value="direct">Direct</label>
   </div>
  <button type="submit" class="btn btn-primary">Donate</button>
  </div>
</form>
<hr>
<p>Amount target achieved</p>

<div class="progress">
  <div class="bar" style="width: ${progress}">
  <!--div class="bar" style="width: 10%"-->
  </div>
</div>

<style>
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
</style>
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
  
</script>
<script src="assets/js/bootstrap.js">
  
</script>


