#{extends 'main.html' /} 
#{set title:'Report' /} 

#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/donation">Make Donation</a></li>
<li class="active"><a href="/donation/report">Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<p>
<h4>List Donations</h4>
</p>
<div id="posts">
  <div class="well">
    <table class="table table-bordered">
      <head>
      <tr>
      <th>Donor Name</th>
      <th>Electoral District</th>
      <th>Email</th>
      <th>Age Range</th>
      <th>Gender</th>
      <th>Amount($)</th>
      <th>Method donated</th>
      </tr>
      </head>
      <body>
      #{list items:donations, as:'donation'}
      <tr>
      <td>${donation.from.firstName} ${donation.from.lastName}</td>
      <td>${donation.from.electorialDistrict}</td>
      <td>${donation.from.email}</td>
      <td>${donation.from.ageRange}</td>
      <td>${donation.from.gender}</td>
      <td>${donation.received}</td>
      <td>${donation.methodDonated}</td>
      </tr>
            #{/list}
      </body>
    </table>
  </div>
</div>