#{extends 'main.html' /} #{set title:'Admin Report' /} #{include 'nav/open.html' /}
<li><a class="brand" href="/admin">Admin</a></li>
<li><a href="/">Welcome</a></li>
<li><a href="/add">Add Candidate</a></li>
<li class="active"><a href="/admin/report">Admin Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<!-- list all registered user names and e-mails -->
<div class="span5">
		<h3>User List</h3>
		<div class="well">
				<table class="table table-bordered">
						<head>
						<tr>
								<th>ID</th>
								<th>User Name</th>
								<th>Email User</th>
						</tr>
						</head>
						<body>#{list items:users, as:'user'}
						<tr>
								<td>${user.id}</td>
								<td>${user.firstName} ${user.lastName}</td>
								<td><a href="mailto:${user.email}?subject=From Simpson Party Administration">${user.email}</a></td>
						</tr>
						#{/list}
						</body>
				</table>
		</div>
</div>
<!-- list all registered candidate names and e-mails -->
<div class="span5">
		<h3>Candidate List</h3>
		<div class="well">
				<table class="table table-bordered">
						<head>
						<tr>
								<th>ID</th>
								<th>Candidate Name</th>
								<th>Email Candidate</th>
						</tr>
						</head>
						<body>#{list items:candidates, as:'candidate'}
						<tr>
								<td>${candidate.id}</td>
								<td>${candidate.candFirstName} ${candidate.candLastName}</td>
								<!-- Admin can send an email to any candidate -->
								<td><a href="mailto:${candidate.email}?subject=From Simpson Party Administration">${candidate.email}</a></td>
						</tr>
						#{/list}
						</body>
				</table>
		</div>
</div>