#{extends 'main.html' /} 
#{set title:'Edit Candidate' /} 

#{include 'nav/open.html' /}
<li><a class="brand" href="/admin">Admin</a></li>
<li><a href="/add ">Add Candidate</a></li>
<li class="active"><a href="/candidate/candId/{id}">Edit/Add image</a></li>
<li><a href="/admin/report">Admin Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<!-- Edit candidate details -->
<form action="/edit/candDetails" method="POST">
		<div class="span4">
				<div class="control-group">
						<div class="controls">
								<input type="text" name="candFirstName" value="${candidate.candFirstName}"><br>
								<input type="text" name="candLastName" value="${candidate.candLastName}"><br> 
								<input type="text" name="email" value="${candidate.email}"><br> 
								<label class="control-label"> Candidate message: </label><br>
								<textarea rows="4" name="candMessage">${candidate.candMessage}</textarea>
								<label class="control-label">Candidate bio: </label>
								<textarea rows="6" name="candBio">${candidate.candBio}</textarea>
						</div>
						<button type="submit" class="btn btn-primary">Edit Details</button>
						<button type="button" class="btn btn-primary" onClick="window.location.reload()">Cancel</button>
				</div>
		</div>
</form>

<!-- upload candidate image -->
<form action="/candidate/uploadpicture/${candidate.email}" method="post"
		enctype="multipart/form-data">
		<div class="control-group">
				<label class="control-label"> Add an image of ${candidate.candFirstName}
						${candidate.candLastName}:</label>
				<div class="controls">
						<input type="file" name="picture"/> 
						<input type="submit" name="submit" value="upload"/>
				</div>
		</div>
</form>

<!-- upload candidate thumbnail image -->
<form action="/candidate/uploadTumbnail/${candidate.email}" method="post"
  enctype="multipart/form-data">
  <div class="control-group">
    <label class="control-label"> Add a thumbnail image of ${candidate.candFirstName}
      ${candidate.candLastName}:</label>
    <div class="controls">
      <input type="file" name="picture"/> 
      <input type="submit" name="submit" value="upload"/>
    </div>
  </div>
</form>