#{extends 'main.html' /} 
#{set title:'Add Candidate' /} 

#{include 'nav/open.html' /}
<li><a class="brand" href="/admin">Admin</a></li>
<li class="active"><a href="/add ">Add Candidate</a></li>
<li><a href="/admin/report">Admin Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<form action="/add/candidate" method="POST">
  <div class="span4">
    <h5>Input new Candidate details<br>Please fill in all fields</h5>
    <div class="controls">
    <!-- All fields require data-->
      <input type="text" required  name="candidate.candFirstName" placeholder="Candidate First Name"><br>
      <input type="text" required  name="candidate.candLastName" placeholder="Candidate Last Name"><br>
      <input type="text" required name="candidate.email" placeholder="Candidate email"><br>
      <textarea rows="4" name="candidate.candMessage" placeholder="Candidate message here" required></textarea>
      <br>
      <textarea rows="6" placeholder="Short bio here" name="candidate.candBio" required></textarea>
      <br>
      <button type="submit" class="btn btn-primary">Add Candidate</button>
      <!-- Cancel action and reload page -->
      <button type="button" class="btn btn-primary" onClick="window.location.reload()">Cancel</button>
    </div>
  </div>
</form>


<!-- list all candidates in database -->
<div class="span4">
  <h5>Existing Candidate List</h5>
  <ol>
    #{list items:candidates, as:'candidate'}
    <li><strong>${candidate.candFirstName} ${candidate.candLastName}</strong>
      <a href="candidate/candId/${candidate.id}">Edit Details/add image</a>
     #{/list}
  </ol>
</div>


