#{extends 'main.html' /} 
#{set title:'Home' /} 

#{include 'nav/open.html' /}
<li class="active"><a href="/home">Welcome</a></li>
<li><a href="/admin">Admin</a></li>
<li><a href="/signup">Sign up</a></li>
<li><a href="/login">Log in</a></li>
#{include 'nav/close.html' /}

<h1>Welcome to the Simpson Political party Website</h1>

<div class="span4">
  <p>
    <em>Homer for president.<br>
    <br> Time for a change.<br>
    <br></em> Out with Boring Abamo.<br>
    <br> Giving has never been so easy.<br>
    <br> Just click <a href="login">here</a> to log in.<br>
    <br> Then go to the Donation page and empty your wallet.
  </p>
</div>

<div class="span4">
  <img src="public/images/simpsons.jpg" alt="simpsons party">
</div>