#{extends 'main.html' /} #{set title:'Candidate Info' /} #{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li class="active"><a href="/candidates">Candidates List</a></li>
<li><a href="/donation/report">Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<!-- Display candidate details -->
<div class="span7">
		<h3>Welcome to ${candidate.candFirstName} ${candidate.candLastName}'s Campaign Page</h3>
		<h5>
				<marquee>${candidate.candMessage}</marquee>
		</h5>
		<div class="span2">
				<p>${candidate.candBio}</p>
		</div>
		<div class="span3">
		<div class="thumbnail">
				<img src="/candidate/getpicture/${candidate.email}" />
		</div>
		</div>
</div>
<div class="span6">
		<h4>Please give generously to ${candidate.candFirstName} ${candidate.candLastName}</h4>

		<form action="/donation/donate" method="POST">
				<div class="control-group">
						<div class="controls">
								<label class="control-label">Select an amount:</label> 
								<select name="amountDonated">
										<option value="50">$50</option>
										<option value="100">$100</option>
										<option value="1000" selected>$1000</option>
								</select> 
								<label class="radio"> 
								<input type="radio" name="methodDonated" value="paypal" checked="checked">PayPal</label> 
								<label class="radio"> 
								<input type="radio" name="methodDonated" value="direct">Direct</label>
						</div>
						<button type="submit" class="btn btn-primary">Donate</button>
				</div>
		</form>
		<hr>
</div>

