#{extends 'main.html' /} 
#{set title:'Candidates' /}  
#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/editProfile">Edit Details</a></li>
<li class="active"><a href="/candidates">Candidates</a></li>
<li><a href="donation">Make Donation</a></li>
<li><a href="/donation/report">Report</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<div class="span6">
<h3>Candidate List</h3>
<table class="table">
  <body>
    <ul>
      #{list items:candidates, as:'candidate'}
      <tr>
        <td><strong>${candidate.candFirstName} ${candidate.candLastName}</strong></td>
        <td><img src="/candidate/getThumbnail/${candidate.id}"/></td>
        <td><a href="candidates/candIdPublic/${candidate.id}">Make donation</a></td> 
        #{/list}
    </ul>
  </tr>
  </body>
</table>
</div>

