#{extends 'main.html' /} #{set title:'Edit details' /} #{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li class="active"><a href="/editProfile">Edit Details</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}

<form action="/editProfile/change" method="POST">
  <div class="control-group">
    <div class="controls">
      <label class="control-label"> First Name: </label> 
      <input type="text" name="firstName"value="${user.firstName}"> 
      <label class="control-label"> Last Name: </label> 
      <input type="text" name="lastName" value="${user.lastName}"> 
      <label class="control-label"> Electoral District: </label> 
      <input type="text" name="lastName" value="${user.electorialDistrict}"> 
      <label class="control-label"> Email: </label> 
      <input type="email" name="email" value="${user.email}"> 
      <label class="control-label"> Password: </label> 
      <input type="text" name="password" value="${user.password}"> 
      <label class="control-label">Please enter a range from drop-down menu if not correct:</label> 
      <input type="text" name="ageRange"value="${user.ageRange}"> 
      <select>
        <option value="18-24">18-24</option>
        <option value="25-34">25-34</option>
        <option value="35-44" selected>34-44</option>
        <option value="45-54">45-54</option>
        <option value="55-64">55-64</option>
        <option value="65-74">65-74</option>
        <option value="75+">75+</option>
      </select> 
      <label class="control-label"> Gender:</label> 
      <input type="text" name="gender" value="${user.gender}"><br> 
      <label class="control-label"> Address:</label>
      <textarea rows="4" name="address">${user.address}</textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Change</button>
</form>
<a href="/candidates">Back to candidate list</a> 