#{extends 'main.html' /}
#{set title:'Welcome to Abamo' /}

#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/signup">Sign up</a></li>
<li><a href="/login">Log in</a></li>
#{include 'nav/close.html' /}

<p><a href="signup">Signup</a> or <a href="login">Log in</a> to oust Abamo and elect Homer </p>


