#{extends 'main.html' /}
#{set title:'Login to donation' /}

#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li><a href="/signup">Sign up</a></li>
<li class="active"><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}
 

<form action="/authenticate" method ="POST">
  <div class="control-group">
    <div class="controls">
      <label class="control-label">  Email: </label>
      <input type="text" name="email">
      <label class="control-label">  Password: </label>
      <input type="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary"> Login  </button>
  </div>
</form>