#{extends 'main.html' /} 
#{set title:'Signup for donation' /} 

#{include 'nav/open.html' /}
<li><a href="/">Home</a></li>
<li class="active"><a href="/signup">Sign up</a></li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
#{include 'nav/close.html' /}


<form action="/register" method="POST">
  <div class="control-group">
    <div class="controls"> 
        <label class="control-label"> First Name: </label> 
        <input type="text" name="firstName"> 
        <label class="control-label"> Last Name: </label> 
        <input type="text" name="lastName">
        <label class="control-label"> Electoral District: </label> 
        <input type="text" name="electorialDistrict"> 
        <label class="control-label"> Email: </label> 
        <input type="email" name="email"> 
        <label class="control-label"> Password: </label> 
        <input type="text" name="password"> 
        <label class="control-label">Select age group:</label>
      <select name="ageRange">
        <option value="18-24">18-24</option>
        <option value="25-34">25-34</option>
        <option value="35-44" selected>34-44</option>
        <option value="45-54">45-54</option>
        <option value="55-64">55-64</option>
        <option value="65-74">65-74</option>
        <option value="75+">75+</option>
      </select> 
      <label class="control-label"> Gender: </label>
      <div class="form-inline">
        <label class="radio"> <input type="radio" name="gender" value="male"
          checked="checked"> Male
        </label> <label class="radio"> <input type="radio" name="gender" value="female">female
        </label>
      </div>
      <br> <label class="control-label"> Address: </label>
      <textarea rows="4" placeholder="enter address here" name="address"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Signup</button>
</form>